@media only screen and (max-width: 700px) {

    /** Navbar **/
    .navbar {
        height: 100vh;
        background-color: #ECF9FD;
        flex-direction: column;
        display: none;
    }

    .toggle-btn i {
        display: block;
    }

    .brand-mobile {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .brand-mobile img {
        height: 40px;
        width: 40px;
    }

    .navbar .nav-list ul {
        flex-direction: column;
    }

    .navbar .nav-list ul li {
        margin-top: 30px;
    }

    .active-navbar-mobile {
        display: flex;
    }

    /** Header **/
    header .row .col-1 h1 {
        font-size: 30px;
    }

    .header {
        height: 100%;
        margin-top: 60px;
    }

    .header .cricle {
        top: -5%;
        right: -42%;
    }

    .header .row {
        flex-direction: column;
    }

    .header .row .col-1 {
        padding: 20px;
    }

    .header .col-1 p {
        margin: 20px 0px 20px 0px;
    }

    .header .col-2 .hero-img {
        padding: 0px 100px;
    }

    .header .row .col-2 img {
        max-width: 90%;
    }

    /**Skills**/
    .skills {
        margin-top: 0px;
    }

    .skills .title {
        margin-bottom: 10px;
    }

    .skills .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 20px;
    }


    /** Portfolio **/
    .portfolio .rectangle {
        width: 60%;
        height: 10%;
        top: 5%;
        right: -16%;
    }

    .portfolio .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 30px;
    }

    .portfolio .grid-wrapper img {
        width: 100%;
    }

    .portfolio .grid-wrapper .grid-box .hover {
        width: 92%;
        left: 6%;
        top: 20%;
    }


    /** Testimonials **/
    .testimonials .grid-wrapper .grid-box {
        margin-top: 50px;
    }

    /** Contact **/
    .contact .container .links .logo {
        margin-right: 40px;
    }

    .contact .container .links .logo img {
        width: 40px;
        height: 40px;
    }

    .contact .container .links ul li {
        margin-right: 10px;
    }
}