@media only screen and (max-width: 700px) {

    /** Navbar **/
    .navbar {
        height: 100vh;
        background-color: #ECF9FD;
        flex-direction: column;
        display: none;
    }

    .toggle-btn i {
        display: block;
    }

    .brand-mobile {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .brand-mobile img {
        height: 40px;
        width: 40px;
    }

    .navbar .nav-list ul {
        flex-direction: column;
    }

    .navbar .nav-list ul li {
        margin-top: 30px;
    }

    /** Header **/
    header .row .col-1 h1 {
        font-size: 30px;
    }

    .header {
        height: 100%;
        margin-top: 60px;
    }

    .header .row {
        flex-direction: column;
    }

    .header .row .col-1 {
        padding: 20px;
    }

    .header .col-1 p {
        margin: 20px 0px 20px 0px;
    }

    .header .col-2 .hero-img {
        padding: 0px 100px;
    }

    .header .row .col-2 img {
        max-width: 90%;
    }

    /**Skills**/
    .skills {
        margin-top: 0px;
    }

    .skills .title {
        margin-bottom: 10px;
    }

    .skills .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 20px;
    }


    /** Portfolio **/
    .portfolio {
        margin-top: 60px;
    }

    .portfolio .rectangle {
        width: 220px;
        height: 60px;
        top: 16px;
        right: -12px;
    }

    .portfolio .title .cta-title h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .portfolio .title .cta-title h4 {
        font-size: 12px;
    }

    .portfolio .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 60px;
    }

    .portfolio .grid-wrapper .grid-box {
        margin: 0 auto;
    }

    .portfolio .grid-wrapper .grid-box:hover {
        border-radius: 10px;
        box-shadow: 30px 0px 30px 0px rgb(153, 151, 151);
    }

    .portfolio .grid-wrapper .grid-box .hover {
        top: 16%;
        left: 6%;
        width: 90%;
        height: 58%;
    }

    /** Testimonials **/
    .testimonials .grid-wrapper .grid-box {
        margin-top: 50px;
    }

    /** Contact **/
    .contact .container .links .logo {
        margin-right: 40px;
    }

    .contact .container .links .logo img {
        width: 40px;
        height: 40px;
    }

    .contact .container .links ul li {
        margin-right: 10px;
    }
}